doctype
html
	head
		title= "I Will Get It"
		link(rel="stylesheet", href="index.css")

	body
		#wrap
			header
				h1 I Will Get It

			#questions
				h2 Begin

			script(src="jquery-2.1.4.js")
			script(src="three.js")

			script(src="CopyShader.js")
			script(src="DigitalGlitch.js")

			script(src="EffectComposer.js")
			script(src="RenderPass.js")
			script(src="MaskPass.js")
			script(src="ShaderPass.js")
			script(src="GlitchPass.js")

			script(src="Tween.js")
			script(src="socket.io.js")
			script(src="cards.js")
			script(src="questions.js")
			script(src="index.js")
